*{
    margin: 0;
    padding: 0;
}
#back{
    background-image: url("https://images.stockcake.com/public/9/6/8/968e4658-41a3-47e2-87eb-8f5696ec00de_large/developer-at-work-stockcake.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;   
}
#back::before{
    content:"";
    background-color: black;
    opacity: .7;
    position: absolute;
    inset: 0;

}
.row{
    display: flex;
    margin: 0 -15px;
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 50px;
    line-height: 80px;
    width: 70%;
}
.container{
    width: 80%;
    max-width: 1120px;
    margin: auto;
}
.br{
    position:relative;
}
.btn{
    border:1px solid blueviolet;
    color: white;
    background-color: blueviolet;
    border-radius: 30px;
    font-size: 15px;
    width: 15%;
    height: 15%;
}
.btn:hover{
    background: none;
    color: blueviolet;
}